/*-- ****************************************************** -->
<---          PRODUCT_MANAGEMENT_FORM.MODULE.CSS            -->
<--- ****************************************************** -*/

.submission_buttons {
    max-height: 4rem;
    vertical-align: middle;
}

.selected_product {
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    width: min(65vw, 30rem);
}