/*-- ****************************************************** -->
<---                  EMAIL_FORM.MODULE.CSS                 -->
<--- ****************************************************** -*/

.email_form {
    margin: 0 auto;
    padding: 0 auto;
    padding-left: 0rem;
    width: min(65vw, 30rem);
}

.email_form h5 {
    margin: 0rem auto;
    padding: 0rem 1rem;
}

.message {
    color: rgb(0, 100, 140);
    margin: 0rem auto;
    padding: 0.25rem 1rem;
    text-align: center;
}

