/*-- ************************************************************* -->
<---                       CONTACT.MODULE.CSS                      -->
<--- ************************************************************* -*/

.contact {
    display: block;
    overflow-wrap: break-word;
    margin: 0 auto;
    padding: 0 auto;
}