/*-- ************************************************************* -->
<---                       TEXTAREA.MODULE.CSS                     -->
<--- ************************************************************* -*/
.text_area_container {
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    margin: 0.5rem 0.5rem;
    text-align: left;
}

.text_area_input {
    background-color: whitesmoke;
    border: 1px solid rgb(130, 120, 110);
    border-radius: .2rem;
    box-sizing: border-box;
    color: rgb(100, 100, 100);
    font-family: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
    font-size: min(5vw, 1rem);
    padding: 0.25rem 0.25rem;
    width: min(60vw, 25rem);
}

.text_area_input:focus {
    box-shadow: 0 0 .5rem 0 rgb(100, 100, 100);
}

.error_message {
    color: red;
    display: none;
    font-size: min(5vw, 1rem);
    overflow-wrap: normal;
    padding: 0.25rem 0.25rem;
    width: min(60vw, 25rem);
}

input:invalid ~ .error_message {
    display: block;
}