/*-- ****************************************************** -->
<---                      FOOTER.MODULE.CSS                        -->
<--- ************************************************************* -*/

.footer_content {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 auto;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle; 
    width: 100%;
}

/*-- ****************************************************** -->
<---                      SOCIAL/RIGHTS                     -->
<--- ****************************************************** -*/

.rights_reserved, 
.social_sites {
    color: whitesmoke;
    font-size: .75rem;
    text-align: center;
}
