/*-- ************************************************************* -->
<---                      CARD.MODULE.CSS                        -->
<--- ************************************************************* -*/

.card {
    background-color: whitesmoke;
    border-radius: 0.2rem;
    box-shadow: 0 0 .5rem 0 rgba(100, 100, 100, 0.3);
}