/*-- ****************************************************** -->
<---                   SHOP.MODULE.CSS                      -->
<--- ****************************************************** -*/

ul.shop_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-bottom: 1rem;
    padding-left: 0rem;
}

ul.shop_list li {
    margin: 0.2rem 0.2rem;
    padding: 0 0;
    width: min(65vw, 19rem);
}

ul.shop_list li:hover {
    box-shadow: 0 0 .5rem 0 rgb(100, 100, 100);
}

.product_link {
    margin: 0 0;
    padding: 0 0;
    text-decoration: none;
}

.shop_loading,
.shop_no_results {
    margin: auto;
    padding: auto;
    text-align: center;
}
