/*-- ****************************************************** -->
<---                  GALLERY.MODULE.CSS                    -->
<--- ****************************************************** -*/

ul.gallery_list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    padding-left: 0rem;
}

ul.gallery_list li {
    margin: 0 auto;
    padding: 0 auto;
    width: min(65vw, 19rem);
}

ul.gallery_list li:hover {
    box-shadow: 0 0 .5rem 0 rgb(100, 100, 100);
}

.loading_section,
.gallery_no_results {
    margin: auto;
    padding: auto;
    text-align: center;
}

.product_link {
    margin: 0 0;
    padding: 0.2rem 0.2rem;
    text-decoration: none;
}

.product_link figure {
    padding: 0 auto;
    margin: 0 auto;
    overflow-wrap: break-word;
    width: min(65vw, 19rem);
}

.product_image {
    border: 1px solid rgb(130, 120, 110);
    padding: 0 0;
    margin: 0.2rem auto;
    width: min(60vw, 18rem);
}

.fig_caption {
    height: 13vh;
    margin: 0 auto;
    padding: 0 auto;
    width: min(60vw, 18rem);
}

.fig_caption h6 {
    text-align: center;
}
