/*-- ************************************************************* -->
<---                        LOGO.MODULE.CSS                       -->
<--- ************************************************************* -*/

.logo_image {
    justify-content: center;
    padding: 0.25rem auto;
    margin: 0 auto;
    width: min(15vw, 10rem);
}