/*-- ****************************************************** -->
<---              PRODUCT_LISTING.MODULE.CSS                -->
<--- ****************************************************** -*/

.product_listing {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 auto;
    margin: 0 auto;
    overflow-wrap: break-word;
    width: min(65vw, 19rem);
}

.product_listing .product_image {
    border: 1px solid rgb(130, 120, 110);
    padding: 0 auto;
    margin: 0 auto;
    width: min(60vw, 18rem);
}

.fig_caption {
    max-height: 30vh;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0.25rem;
    width: min(60vw, 18rem);
}

.fig_caption h6 {
    text-align: center;
}

.fig_caption p {
    text-align: left;
}
