/*-- ****************************************************** -->
<---                  LAYOUT.MODULE.CSS                     -->
<--- ****************************************************** -*/

.background_container {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 91vh, rgba(60, 80, 100, .75));
    margin: 0 0;
    padding: 0 0;
    position: relative;
    width: 100%;
}

.background_img_container {
    background-image: url('/background_photo_desktopv7.png');
    background-size: max(80rem, 100vw) min(90vh, 150rem);
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    margin: 0 0;
    padding: 0 0;
    vertical-align: top;
    width: 100%;
}

.header_container {
    margin: 0 0;
    min-height: 15vh;
    padding: 0 0;
    width: 100%;
}

.main_layout_container {
    background-color: rgba(230, 235, 235, 0.4);
    backdrop-filter: blur(.3rem);
    box-shadow: 0 0 .5rem .25rem rgba(100, 100, 100, 0.4);
    margin: 0 auto;
    min-height: 78vh;
    padding: 0 auto;
    width: min(80vw, 90rem);
}

.footer_container {
    background-color: rgba(60, 80, 100, 0.3);
    margin: 0 auto;
    min-height: 7vh;
    padding: 0.5vh 2vw;
}