/*-- ************************************************************* -->
<---                      LAYOUT.MODULE.CSS                        -->
<--- ************************************************************* -*/
.background_container {
    
    background-image: url('/background_photo_desktop1.png');
    background-size: auto;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0 0;
    min-height: 100vh;
    padding: 0 15%;
    vertical-align: top;
}

.layout_container {
    background-color: rgba(250, 255, 255, 0.7);
    height: 100%;
    margin: 0 0;
    min-height: 100vh;
    padding: 0 3vw;
}