/*-- ****************************************************** -->
<---                    INDEX.MODULE.CSS                    -->
<--- ****************************************************** -*/

.figure_container {
    float: right;
}

.landing_image {
    border: 1px solid rgb(130, 120, 110);
    padding: 0 auto;
    margin: 0 auto;
    width: min(60vw, 25rem);
}

.figure_container figcaption {
    padding: 0 auto;
    margin: 0 auto;
}

.figure_container p {
    text-align: center;
}

.introduction {
    display: block;
    max-width: calc(100%);
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media only screen and (max-width: 70rem) {
    .figure_container {
        float: none;
        margin: 0rem 1rem;
        padding-top: 1rem;
        overflow: hidden;
    }
}